@import url('variables.css');
@import url('general.css');
 


.uniqueproduct {
    width: 100rem;
    margin: 5rem 1.5rem;
    padding: 1rem 0;
    border: 1px solid var(--gris--4);
    background-color: var(--blanco);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px var(--gris--3);
}
.uniqueproduct__img {
    width: 45rem;
    height: 45rem;
    overflow: hidden;
}
.uniqueproduct__img img {
    width: 100%;
    height: 100%;
    margin-left: 3rem;
    object-fit: contain;
    transition: transform 0.3s ease;
}
.uniqueproduct__img:hover img {
    transform: scale(1.1);
}
.uniqueproduct__tittle {
    width: 50rem;
    font-weight: bold;
    font-size: 2rem;
}

.detail__product {
    margin: 5rem;
}
.margin {
    display: flex;
    flex-direction: column;
    margin: 8rem 0;
}
 
.disc__price {
    margin-top: 1rem;
    font-size: 1.8rem;
    color: var(--primario);
    font-weight: bold;
}
.disc__product {
    background-color: var(--primario-1);
    color: var(--blanco);
    padding: 0.2rem 0.8rem;
    border-radius: 10%;
}
.price-strike {
    color: var(--gris-1);
    text-decoration: line-through;
}
.product__price {
    color: var(--gris-3);
    font-size: 1.8rem;
}
.cantidad {
    width: 23rem;
    margin: 1rem 0;
    padding: 0.5rem 1.5rem 0.5rem 0;
    border: 1px solid var(--gris--4);
}
 
.input-number {
    background-color: var(--blanco);
    border: none;
    outline: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    text-align: center;
}
 
.compra {
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.compra-main {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
}
 
.caracteristicas {
    padding: 0 3rem;
}
.marca {
    margin-top: 1rem;
    font-weight: 400;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: underline;
}


table {
    border-collapse: collapse;
}
 
.tablecart tr {
    line-height: 2;
}
.tr1 {
    background-color: var(--gris--4);
}
.tablecart td {
    width: 50rem;
    padding: 1rem;
}

.tablecart tr {
    width: 50rem;
}

/* carrito */
.cartproduct { 
    width: 100rem;
    margin: 5rem 1.5rem;
    padding: 1rem;
    border: 1px solid var(--gris--4);
    background-color: var(--blanco);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px var(--gris--3);
}

.cartproduct__img { 
    width: 10rem;
    height: 10rem;
    overflow: hidden; 
    margin: 0 5rem;
}
.cartproduct__img img { 
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.3s ease;
}
.row {
    display: flex;
    flex-direction: row;
}
.cantidad-2 {
    width: 6rem;
    height: 2.5rem;
    margin: 1rem 0;
    padding: 0.5rem 1.5rem 0.5rem 0;
    border: 1px solid var(--gris--4);
}

.input-number-2 {
    background-color: var(--blanco);
    border: none;
    outline: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    text-align: center;
}

.centergap {
    align-items: center;
}
.eliminar {
    padding: 0 3rem 0 0;
}
.compra-2 {
    justify-content: start;
    width: 30rem;
    height: 25rem;
    padding: 0;
}
.compra-2 button {
    margin: 2rem;
}

.tablecompra td {
    width: 10rem;
    padding: 1rem;
}


.eliminar {
    color: var(--primario);
}
.eliminar:hover {
    cursor: pointer;
}

.resumen {
    width: 30rem;
    background-color: var(--gris);
    color: var(--blanco);
    font-weight: bold;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.margintop {
    margin-top: 5rem;
}